<h1>Help</h1>
	<p> this is the help page for the 
	<a href="http://railstutorial.org/">ruby on rails tutorial</a>
	sample application.
	</p>
<%= link_to "sign up now!", '#', :class => "signup_button round" %>